* {
	font-family: 'Arial', sans-serif;
}

html, body {

/*background-color: #FFFFFF;
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.5, #8BC63E),
	    color-stop(0.5, #EEEEEE)
	);
	background: -o-linear-gradient(bottom, #8BC63E 50%, #EEEEEE 50%);
	background: -moz-linear-gradient(bottom, #8BC63E 50%, #EEEEEE 50%);
	background: -webkit-linear-gradient(bottom, #8BC63E 50%, #EEEEEE 50%);
	background: -ms-linear-gradient(bottom, #8BC63E 50%, #EEEEEE 50%);
	background: linear-gradient(to bottom, #8BC63E 50%, #EEEEEE 50%);
*/
} 

/************************************** make the webView scrollbar look nice */

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
	backround: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 8px;
	background-color: rgba(0,0,0,0.2);
}

/************************************** text formatting */

.top-title {
	font-size: 16px;
	color: #639100;
	padding-top: 15px;
	padding-bottom: 15px;
}

.title {
	font-size: 16px;
	color: #639100;
	padding-top: 25px;
	padding-bottom: 15px;
}

.presentation-text {
	font-size: 15px;
}

.highlight {
	text-align: center;
	background: rgba(136, 200, 0, 0.3);  /*#88C800 in rgba*/
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 5px;
	padding-bottom: 5px
}	

.highlight-text {
	font-size: 15px;
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
}

.table-footnote {
	font-size: 13px;
}

.center {
	text-align: center;
}


/************************************** mathML formatting */

mi, mo {
	font-family: "Times New Roman", Georgia, Serif;	
}

mn {
	font-family: "Times New Roman", Georgia, Serif;	
	font-size: 16px;
	font-style: italic;
	
}

.math {
	text-align: center;	
	padding-top: 5px;
	padding-bottom: 5px;
}

.inline-variable, .italic-super {
	font-family: "Times New Roman", Georgia, Serif;	
	font-style: italic;
}

.inline-variable {
	font-size: 18px;
}




/************************************** table layouts and text formatting for Common Physical Constants table in Databook   */

.table-layout {
	table-layout: fixed;
	width: 95%;
	font-size: 15px;
} 

.column-title {
	font-weight: bold;
}

.column1-1 {
	text-align: left;
	width: 40%;
}

.column1-2 {
	text-align: center;
	width: 10%;
}

.column1-3 {
	text-align: right;
	width: 50%;
}

/* layout for 2 and 3 column tables in Databook   */

.column1 {
	text-align: left;
}

.column2 {
	text-align: center;
}

.column3 {
	text-align: center;
}


/* layout for the 3 column Prefixes tables   */

.columnPrefix1 {
	text-align: left;
	width: 45%
}

.columnPrefix2 {
	text-align: center;
	width: 25%
}

.columnPrefix3 {
	text-align: center;
	width: 30%
}

/* layout for the 2 column Scientific Notation table  */

.table-layout-SN {
	table-layout: fixed;
	width: 60%;
	font-size: 15px;
	text-align: center;
}

table.center {
	margin-left: auto;
	margin-right: auto;	
}

.column1-SN {
	
}

.column2-SN {
	
}





